<form class="mx-9" action="/reviews" method="GET">

    <div class="form-row">

      <div class="form-group col-md-2 mb-0">
        <select name="location" class="form-control">
          <option value="0" <%= formData.location === '0' ? 'selected' : null %>> - Location - </option>
          <option value="Wall A" <%= formData.location === 'Wall A' ? 'selected' : null %>> Wall A </option>
          <option value="Wall B" <%= formData.location === 'Wall B' ? 'selected' : null %>> Wall B </option>
          <option value="Wall C" <%= formData.location === 'Wall C' ? 'selected' : null %>> Wall C </option>
          <option value="Wall D" <%= formData.location === 'Wall D' ? 'selected' : null %>> Wall D </option>
        </select>
      </div>

      <div class="form-group col-md-2 mb-0">
        <select name="color" class="form-control">
          <option value="0" <%= formData.color === '0' ? 'selected' : null %>> - Color - </option>
          <option value="Blue" <%= formData.color === 'Blue' ? 'selected' : null %>> Blue </option>
          <option value="Red" <%= formData.color === 'Red' ? 'selected' : null %>> Red </option>
          <option value="Green" <%= formData.color === 'Green' ? 'selected' : null %>> Green </option>
          <option value="Black" <%= formData.color === 'Black' ? 'selected' : null %>> Black </option>
        </select>
      </div>

      <div class="form-group col-md-2 mb-0">
        <select name="score" class="form-control">
          <option value="0" <%= formData.score == 0 ? 'selected' : null %>> - Score - </option>
          <option value="1" <%= formData.score == 1 ? 'selected' : null %>> 1 </option>
          <option value="2" <%= formData.score == 2 ? 'selected' : null %>> 2 </option>
          <option value="3" <%= formData.score == 3 ? 'selected' : null %>> 3 </option>
          <option value="4" <%= formData.score == 4 ? 'selected' : null %>> 4 </option>
          <option value="5" <%= formData.score == 5 ? 'selected' : null %>> 5 </option>
        </select>
      </div>

      <div class="form-group col-md-2 mb-0">
        <input type="text" name="difficulty" class="form-control" value="<%= formData.difficulty%>"
          placeholder="Difficulty">
      </div>

      <div class="form-group mb-0">
        <button type="submit" class="btn btn-dark">Search</button>
        <a href="/reviews" class="btn btn-dark">Reset</a>


      </div>

    </div>
  </form>