<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list all the documents in your resource collection.
-->

<%- include ('../partials/header') %>


<div class="container my-5">
  <header>
    <h1>Climbing Route Reviews</h1>
    <%- include ('../partials/search') %>
  </header>

  <hr>
  <div class="row">
    <% for (let climbingroute of climbingroutes) { %>
      
    <div class="col-sm-4">
      <div class="card mb-3 text-dark">

        <div class="card-header  clearfix">
          <div class="float-left">
            <h5 class="card-title my-0"><%= climbingroute.title %></h5>
          </div>
          <div class="float-right">
            <small class="text-secondary"><%= climbingroute.updatedAt.toLocaleString("en-CA") %></small>
          </div>
        </div>

        <div class="card-body">

          <% for (let i=0; i<climbingroute.score; i++) { %>
            <span class="fa fa-star checked"></span>
          <% } %>
          <% for (let i=0; i<5-climbingroute.score; i++) { %>
            <span class="fa fa-star"></span>
          <% } %>

          <p class="card-subtitle"><%= climbingroute.synopsis %></p>
          <p class="card-text text-muted my-2"><small>By: <%= climbingroute.user.fullname %></small></p>
        </div>

        <div class="card-footer py-1 clearfix">
          <div class="float-left">
            <a href="/climbingroutes/<%= climbingroute.id %>">Read More</a>
          </div>
          <% if (authorized && (climbingroute.user.email === user.email)) { %>
          <div class="float-right">
            <a href="/climbingroutes/<%= climbingroute.id %>/edit">
              <i class="fa fa-edit"></i>
            </a>
            &nbsp;/&nbsp;
            <form class="form-inline my-0" action="/climbingroutes/delete" method="post"
              onsubmit="return confirm('Are you sure you want to delete all your hard work?');">
              <input type="hidden" value="<%= climbingroute.id %>" name="id">
              <button class="delete" type="submit">
                <i class="fa fa-trash"></i>
              </button>
            </form>
          </div>
          <% } %>
        </div>

      </div>
    </div>
    <% } %>
  </div>
  <button class="btn btn-dark" onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
</div>

<%- include ('../partials/footer') %>