<!--
  Step 1: The form must be sharable between the new and edit views.
-->
<form class="mx-3" action="<%= (typeof actionPath === 'undefined') ? '/reviews' : actionPath  %>" ,
  method="POST">
  <%= console.log(`In reviews form, formData: ${JSON.stringify(formData, null, 2)}`)%>

  <div class="form-group">
    <% if(typeof actionPath !== 'undefined') { %>
    <input type="hidden" name="id" value="<%= formData.id %>">
    <% } %>
  </div>

  <div class="form-row">

    <div class="form-group col-md-2">
      <label for="location">Location</label>
      <select name="location" class="form-control">
        <option value="WALL_A" <%= formData.location === 'WALL_A' ? 'selected' : null %>> Wall A </option>
        <option value="WALL_B" <%= formData.location === 'WALL_B' ? 'selected' : null %>> Wall B </option>
        <option value="WALL_C" <%= formData.location === 'WALL_C' ? 'selected' : null %>> Wall D </option>
        <option value="WALL_D" <%= formData.location === 'WALL_D' ? 'selected' : null %>> Wall D </option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="color">Color</label>
      <select name="color" class="form-control">
        <option value="BLUE" <%= formData.color === 'BLUE' ? 'selected' : null %>> Blue </option>
        <option value="RED" <%= formData.color === 'RED' ? 'selected' : null %>> Red </option>
        <option value="GREEN" <%= formData.color === 'GREEN' ? 'selected' : null %>> Green </option>
        <option value="BLACK" <%= formData.color === 'BLACK' ? 'selected' : null %>> Black </option>
      </select>
    </div>


    <div class="form-group col-md-2">
      <label for="score">Score</label>
      <select name="score" class="form-control">
        <option value="1" <%= formData.score === 1 ? 'selected' : null %>> 1 </option>
        <option value="2" <%= formData.score === 2 ? 'selected' : null %>> 2 </option>
        <option value="3" <%= formData.score === 3 ? 'selected' : null %>> 3 </option>
        <option value="4" <%= formData.score === 4 ? 'selected' : null %>> 4 </option>
        <option value="5" <%= formData.score === 5 ? 'selected' : null %>> 5 </option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="difficulty">Difficulty</label>
      <input type="text" name="difficulty" class="form-control" value="<%= formData.difficulty%>">
    </div>

  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control"><%= formData.description%></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">Submit</button>
    <a href="/reviews" class="btn btn-dark" role="button" aria-pressed="true">Cancel</a>
  </div>
</form>