<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->

<%- include ('../partials/header') %>

<div class="container my-5">

  <header>
    <h1><%= review.location %> <%= review.color %> <%= review.difficulty %></h1>
    <small><%= review.updatedAt.toLocaleString("en-CA") %></small>

    <% if (authorized && (review.user.email === user.email)) { %>
      &nbsp;&nbsp;
      <a href="/reviews/<%= review.id %>/edit">
          <i class="fa fa-edit"></i>
      </a>
      &nbsp; / &nbsp;
      <form action="/reviews/delete" class="form-inline" method="POST" onsubmit="return confirm('Are you sure you want to delete your post \'<%= review.title %>\'?');">
          <input type="hidden" value="<%= review.id %>" name="id">
          <button type="submit" class="delete">
              <i class="fa fa-trash"></i>
          </button>
      </form>
  <% } %>
  </header>

  <hr>

  <div class="content">  
    <% if (typeof review.user !== 'undefined') { %>
      <p>Author: <%= review.user.fullname %></p>
    <% } %>
    <p>Score: <%- review.score %></p>
    <p>Description: <%- review.description %></p>
  </div>

  <br>
  <div>    
    <a class="btn btn-dark" onclick="goBack()">Go Back</a>
  </div>

</div>

<%- include ('../partials/footer') %>